.form-control {
  padding-bottom: 1.2rem;
  margin-bottom: 0.5rem;
  position: relative;
}

.form-control .form-label {
  display: block;
  margin-bottom: 0.3rem;
}

.form-control .form-error {
  font-size: 0.8rem;
  color: red;
  position: absolute;
  bottom: 0;
  left: 3px;
}

.form-control input,
.form-control textarea {
  font-family: inherit;
  font-size: inherit;
  width: 100%;
  border: 1px solid $gray-light;
  outline: 2px solid transparent;
  border-radius: 4px;
  padding: 0.4rem;
  outline: 2px solid transparent;
  background-color: $bg-color;
  color: $text-color;
}

.form-control input::placeholder {
  font-size: 0.9rem;
}

.form-control input:focus {
  outline: 2px solid $primary;
  border: 1px solid transparent;
}

.submit-cont {
  text-align: center;
}

.submit-cont .form-submit-btn {
  display: block;
  color: $white;
  padding: 0.7rem 0;
  background-color: $black;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 1rem;
  border: transparent;
  border-radius: 4px;
  transition: background-color 150ms ease;
}

.submit-cont .form-submit-btn:disabled {
  background-color: $gray-dark;
}

.submit-cont .form-submit-btn:not(:disabled):hover {
  background-color: $accent;
}

.register-link {
  color: $accent;
  text-decoration: none;
}
