$primary: #3445a3;
$accent: hsla(214, 84%, 56%, 1);
$accent-light: hsla(202, 71%, 52%, 1);
$secondary: #3f4044;

$white: #f1f3f6;
$black: #303237;

$gray-dark: #62718a;
$gray: #77859a;
$gray-light: #b4beca;
$gray-very-light: hsla(0, 0%, 88%, 1);

$red: #eb5757;

$bg-color: $white;
$text-color: $black;

$labelFont: '"Montserrat", sans-serif';

$nav-height: 3rem;
$section-min-height: calc(100vh - var(--nav-height) - 2rem);
