@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,300&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h4,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role='list'],
ol[role0='list'] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

svg {
  color: currentColor;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

h3 {
  margin: 0;
  padding: 0;
}

.bold {
  font-weight: 700;
}

.clr--green {
  color: #1c9b1c;
}

.clr--red {
  color: #da2e2e;
}

body {
  color: #18191a;
  background-color: #f1f3f6;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 2.4rem;
  margin-bottom: 1.5rem;
  line-height: 2;
}

.text-center {
  text-align: center;
}

.d-flex {
  display: flex;
  align-items: center;
}

.d-flex.justify-content-between {
  justify-content: space-between;
}

.d-flex.gap--s {
  gap: 1rem;
}

.d-flex.gap--m {
  gap: 2rem;
}

.d-flex.gap--l {
  gap: 3rem;
}

.w-100 {
  width: 100%;
}

.form-control {
  padding-bottom: 1.2rem;
  margin-bottom: 0.5rem;
  position: relative;
}

.form-control .form-label {
  display: block;
  margin-bottom: 0.3rem;
}

.form-control .form-error {
  font-size: 0.8rem;
  color: red;
  position: absolute;
  bottom: 0;
  left: 3px;
}

.form-control input,
.form-control textarea {
  font-family: inherit;
  font-size: inherit;
  width: 100%;
  border: 1px solid #b4beca;
  outline: 2px solid transparent;
  border-radius: 4px;
  padding: 0.4rem;
  outline: 2px solid transparent;
  background-color: #f1f3f6;
  color: #18191a;
}

.form-control input::placeholder {
  font-size: 0.9rem;
}

.form-control input:focus {
  outline: 2px solid #3445a3;
  border: 1px solid transparent;
}

.submit-cont {
  text-align: center;
}

.submit-cont .form-submit-btn {
  display: block;
  color: #f1f3f6;
  padding: 0.7rem 0;
  background-color: #18191a;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 1rem;
  border: transparent;
  border-radius: 4px;
  transition: background-color 150ms ease;
}

.submit-cont .form-submit-btn:disabled {
  background-color: #62718a;
}

.submit-cont .form-submit-btn:not(:disabled):hover {
  background-color: #3182ed;
}

.register-link {
  color: #3182ed;
  text-decoration: none;
}

.container {
  max-width: 80rem;
  margin: 0 auto;
  padding: 4rem 0;
}

@media screen and (max-width: 1300px) {
  .container {
    padding: 3rem 2rem;
  }
}

@media screen and (max-width: 460px) {
  .container {
    padding: 2rem 1rem;
  }
}

.sport-term-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 25rem));
  gap: 2rem;
}

@media screen and (max-width: 900px) {
  .sport-term-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 700px) {
  .sport-term-grid {
    grid-template-columns: minmax(15rem, 20rem);
  }
}

@media screen and (max-width: 450px) {
  .sport-term-grid {
    grid-template-columns: 1fr;
  }
}

/* ----------- DROPDOWN ---------*/
.dropdown-container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.dropdown-container__dropdown {
  position: absolute;
  left: 0;
  top: 3rem;
  padding: 1.5rem 0.8rem;
  min-width: 20rem;
  background-color: #f1f3f6;
  transform: translateX(calc(-50% + 2.8rem));
  border: 1px solid #77859a;
  border-radius: 0.7rem;
  box-shadow: 0px 2px 1rem rgba(24, 25, 26, 0.2);
}

.dropdown-container__item {
  display: inline-block;
  border-radius: 0.7rem;
  padding: 0.5rem 1rem;
  color: #18191a;
  text-decoration: none;
}

.dropdown-container__item:hover {
  background-color: #e0e0e0;
}

.dropdown-container__icon {
  display: inline-block;
  background-color: var(--gray);
  padding: 1.4rem;
  border-radius: 50%;
}

.btn {
  background-color: #3182ed;
  color: #f1f3f6;
  border: 1px solid transparent;
  border-radius: 0.4rem;
  padding: 0.3rem 1rem;
}

.btn:not(:disabled) {
  cursor: pointer;
}

.btn:hover:not(:disabled) {
  background-color: #3445a3;
}

.btn:disabled {
  background-color: #77859a;
}

.btn--outline {
  background-color: #f1f3f6;
  color: #18191a;
}

.btn--outline:hover {
  background-color: #f1f3f6 !important;
}

.btn--white {
  background-color: #f1f3f6;
  color: #18191a;
  border: 1px solid #18191a;
}

.btn--white:hover {
  background-color: #f1f3f6 !important;
  color: #18191a;
}

.btn--red {
  background-color: #da2e2e;
  color: #f1f3f6;
}

.btn--red:hover {
  background-color: #800101 !important;
}

.shadow {
  box-shadow: 0 2px 1rem rgba(24, 25, 26, 0.2);
}

.nav {
  max-width: 80rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

@media screen and (max-width: 1300px) {
  .nav {
    padding: 0 2rem;
  }
}

.nav__center {
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav__link {
  position: relative;
  display: inline-block;
  padding: 0.3rem 1rem;
  color: #18191a;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 1px;
  background-color: #f1f3f6;
  border-radius: 4px;
  transition: filter 150ms ease-in;
}

.nav__link:hover {
  filter: brightness(0.9);
}

.nav__link.active::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  background-color: #3182ed;
  border-radius: 4px;
}

.nav__icon {
  transform: scale(0.7);
  fill: currentColor;
}

.user-nav {
  display: flex;
  align-items: center;
  margin: 0;
}

.user-nav > * {
  cursor: pointer;
  padding: 0 1.4rem;
  height: 100%;
  display: flex;
  align-items: center;
}

.user-nav__icon-box {
  position: relative;
}

.user-nav__icon {
  transform: scale(0.7);
  fill: #18191a;
}

.user-nav__notification {
  font-size: 0.7rem;
  height: 1.3rem;
  width: 1.3rem;
  border-radius: 50%;
  background-color: #da2e2e;
  color: #f1f3f6;
  position: absolute;
  top: 0rem;
  right: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-nav__user-photo {
  height: 3.75rem;
  border-radius: 50%;
  margin-right: 1rem;
}

/* Dropdown Menu */
.settings__dropdown {
  list-style: none;
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.settings__dropdown span {
  font-weight: 500;
}

.dropdown {
  position: absolute;
  z-index: 999;
  top: 58px;
  right: 0;
  max-width: 300px;
  width: 30vw;
  padding: 1rem;
  overflow: hidden;
  background-color: #f1f3f6;
  border: 1px solid #77859a;
  border-radius: 0.7rem;
  box-shadow: 0px 2px 1rem rgba(24, 25, 26, 0.2);
}

.menu {
  width: 100%;
}

.menu__item {
  cursor: pointer;
  height: 50px;
  display: flex;
  align-items: center;
  gap: 0.2rem;
  border-radius: 0.7rem;
  background-color: #f1f3f6;
  padding: 0rem;
  margin-bottom: 0.3rem;
  transition: filter 150ms ease;
  color: #18191a;
  text-decoration: none;
}

.menu__item:hover {
  filter: brightness(0.9);
}

.menu__item--red {
  color: #da2e2e;
}

.menu__icon {
  transform: scale(0.6);
  fill: #18191a;
}

.menu__icon--red {
  fill: #da2e2e;
}

.menu hr {
  background-color: #62718a;
  border-radius: 2px;
}

.search-field {
  cursor: pointer;
  position: relative;
  height: 2.4rem;
  display: flex;
  align-items: center;
  padding: 0 0.4rem;
  background-color: var(--gray-very-light);
  border-radius: 1rem;
}

.search-field label {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.search-field svg {
  transform: scale(0.5);
  fill: var(--gray);
}

.search-field input[type='text'] {
  max-width: 100%;
  background-color: inherit;
  font-size: inherit;
  font-family: inherit;
  border: none;
}

.search-field input[type='text']:focus {
  outline: none;
}

.search-field__dropdown {
  position: absolute;
  z-index: 999;
  top: 3rem;
  left: 0;
  width: 300px;
  padding: 1rem;
  overflow: hidden;
  background-color: #f1f3f6;
  border: 1px solid #77859a;
  border-radius: 0.7rem;
  box-shadow: 0px 2px 1rem rgba(24, 25, 26, 0.2);
  transition: height 500ms ease;
}

.search-field__item {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  border-radius: 0.7rem;
  padding: 0.5rem 1rem;
  margin-bottom: 0.3rem;
  color: #18191a;
  text-decoration: none;
  font-weight: 500;
}

.search-field__item:hover {
  background-color: #e0e0e0;
}

.search-field__item a {
  color: inherit;
  text-decoration: none;
}

.search-field__item > div {
  display: flex;
  flex-direction: column;
}

.search-field__item > div span {
  font-weight: 200;
  font-style: italic;
  font-size: 0.9rem;
}

.search-field__icon {
  display: inline-block;
  background-color: var(--gray);
  padding: 1rem;
  border-radius: 50%;
}
/*# sourceMappingURL=main.css.map */